Source: libmpack
Section: libs
Priority: optional
Maintainer: James McCoy <jamessan@debian.org>
Build-Depends: debhelper (>= 11),
               libtool-bin,
Standards-Version: 4.1.3
Homepage: https://github.com/libmpack/libmpack/
Vcs-Git: https://salsa.debian.org/jamessan/libmpack.git
Vcs-Browser: https://salsa.debian.org/jamessan/libmpack

Package: libmpack-dev
Section: libdevel
Architecture: any
Depends: libmpack0 (= ${binary:Version}), ${misc:Depends}
Description: small binary serialization/RPC library (development files)
 libmpack is a small binary serialization/RPC library that implements both the
 msgpack and msgpack-rpc specifications.
 .
 Differences from msgpack-c:
 .
  * Callback-based API to simplify (de)serialization directly to/from
    application-specific objects.
  * C89 compatible code
  * No allocation performed by the library, but helpers to simplify dynamic
    allocation if the application needs it.
  * Non-backtracking, incremental/iterative parse/serialization API
 .
 This package contains the headers files needed for developing with mpack

Package: libmpack0
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: small binary serialization/RPC library
 libmpack is a small binary serialization/RPC library that implements both the
 msgpack and msgpack-rpc specifications.
 .
 Differences from msgpack-c:
 .
  * Callback-based API to simplify (de)serialization directly to/from
    application-specific objects.
  * C89 compatible code
  * No allocation performed by the library, but helpers to simplify dynamic
    allocation if the application needs it.
  * Non-backtracking, incremental/iterative parse/serialization API
